In [107]:
import pandas as pd
import json
# from ease_of_movement import ease_of_movement

In [108]:
file = r'../data/ease_of_movement.csv'
headers = ['date','high','low','volume','emv','sma_14_emv']

df = pd.read_csv(file,
                 names=headers, # Rename the headers
                 header=0)      # Don't use the defined csv headers
df

         date   high    low    volume   emv  sma_14_emv
1   18-Jun-12  63.74  62.63  32178836   NaN         NaN
2   19-Jun-12  64.51  63.85  36461672  1.80         NaN
3   20-Jun-12  64.57  63.81  51372680  0.01         NaN
4   21-Jun-12  64.31  62.62  42476356 -2.88         NaN
5   22-Jun-12  63.43  62.73  29504176 -0.91         NaN
6   25-Jun-12  62.85  61.95  33098600 -1.85         NaN
7   26-Jun-12  62.70  62.06  30577960 -0.04         NaN
8   27-Jun-12  63.18  62.69  35693928  0.76         NaN
9   28-Jun-12  62.47  61.54  49768136 -1.74         NaN
10  29-Jun-12  64.16  63.21  44759968  3.57         NaN
11   2-Jul-12  64.38  63.87  33425504  0.67         NaN
12   3-Jul-12  64.89  64.29  15895085  1.76         NaN
13   5-Jul-12  65.25  64.48  37015388  0.57         NaN
14   6-Jul-12  64.69  63.65  40672116 -1.78         NaN
15   9-Jul-12  64.26  63.68  35627200 -0.33       -0.03
16  10-Jul-12  64.51  63.12  47337336 -0.46       -0.19
17  11-Jul-12  63.46  62.50  43373576 -1.85       -0.32
18  12-Jul-12  62.69  61.86  57651752 -1.01       -0.19
19  13-Jul-12  63.52  62.56  32357184  2.27        0.04
20  16-Jul-12  63.52  62.95  27620876  0.40        0.20
21  17-Jul-12  63.74  62.63  42467704 -0.13        0.19
22  18-Jul-12  64.58  63.39  44460240  2.14        0.29
23  19-Jul-12  65.31  64.72  52992592  1.15        0.50
24  20-Jul-12  65.10  64.21  40561552 -0.79        0.19
25  23-Jul-12  63.68  62.51  48636228 -3.75       -0.13
26  24-Jul-12  63.66  62.55  57230032  0.02       -0.25
27  25-Jul-12  62.95  62.15  46260856 -0.96       -0.36
28  26-Jul-12  63.73  62.97  41926492  1.45       -0.13
29  27-Jul-12  64.99  63.64  42620976  3.06        0.11
30  30-Jul-12  65.31  64.60  37809176  1.20        0.23

In [109]:
# Convert DataFrame rows into json records
j = df.to_json(orient='records')

In [110]:
# Load as collection
data = json.loads(j)
data[0]

{'date': '18-Jun-12',
 'high': 63.74,
 'low': 62.63,
 'volume': 32178836,
 'emv': None,
 'sma_14_emv': None}

In [111]:
def emv(prev, curr):
    high, low, volume = curr['high'], curr['low'], curr['volume']
    prior_high, prior_low = prev['high'], prev['low']

    # Distance Moved = ((H + L)/2 - (Prior H + Prior L)/2) 
    distance_moved = (high + low) / 2 - (prior_high + prior_low) / 2

    # Box Ratio = ((V/100,000,000)/(H - L))
    box_ratio = (volume / 100000000) / (high - low)
    
    # 1-Period EMV = ((H + L)/2 - (Prior H + Prior L)/2) / ((V/100,000,000)/(H - L))
    return distance_moved / box_ratio

In [112]:
def sma(arr):
    return sum(arr) / len(arr)

In [129]:
# Compute the emv for the given array of stocks, and includes 2 new fields for the computed emv
def compute_emv(data, field1='emv_computed', field2='sma_14_emv_computed'):
    # Computes the emv starting from index 1, since the prior high and low of the stocks is required
    for i, item in enumerate(data):
        # Start at index 1, since prior is required
        if i > 0:
            item[field1] = emv(data[i - 1], item)

        # Start from the 14th index, which is the 15th items
        if i >= 14:
            # Take the last 14 stocks to compute emv, 
            # inclusive of the stocks at current index
            prev_data = data[i-13:i+1]
            emvs = [d.get(field1, 0) 
                    for d in prev_data]
            item[field2] = sma(emvs)
    return data

output = compute_emv(data)

# Convert json back to DataFrame
pd.read_json(json.dumps(output), orient='records')

,date,emv,emv_computed,high,low,sma_14_emv,sma_14_emv_computed,volume
0,2012-06-18,NaN,NaN,63.74,62.63,NaN,NaN,32178836
1,2012-06-19,1.80,1.801069,64.51,63.85,NaN,NaN,36461672
2,2012-06-20,0.01,0.014794,64.57,63.81,NaN,NaN,51372680
3,2012-06-21,-2.88,-2.884546,64.31,62.62,NaN,NaN,42476356
4,2012-06-22,-0.91,-0.913430,63.43,62.73,NaN,NaN,29504176
5,2012-06-25,-1.85,-1.849021,62.85,61.95,NaN,NaN,33098600
6,2012-06-26,-0.04,-0.041860,62.70,62.06,NaN,NaN,30577960
7,2012-06-27,0.76,0.761894,63.18,62.69,NaN,NaN,35693928
8,2012-06-28,-1.74,-1.737859,62.47,61.54,NaN,NaN,49768136
9,2012-06-29,3.57,3.565686,64.16,63.21,NaN,NaN,44759968
10,2012-07-02,0.67,0.671344,64.38,63.87,NaN,NaN,33425504
11,2012-07-03,1.76,1.755260,64.89,64.29,NaN,NaN,15895085
12,2012-07-05,0.57,0.572059,65.25,64.48,NaN,NaN,37015388
13,2012-07-06,-1.78,-1.777139,64.69,63.65,NaN,NaN,40672116
14,2012-07-09,-0.33,-0.325594,64.26,63.68,-0.03,-0.027667,35627200
15,2012-07-10,-0.46,-0.455138,64.51,63.12,-0.19,-0.188825,47337336
16,2012-07-11,-1.85,-1.848130,63.46,62.50,-0.32,-0.321891,43373576
17,2012-07-12,-1.01,-1.014973,62.69,61.86,-0.19,-0.188350,57651752
18,2012-07-13,2.27,2.269666,63.52,62.56,0.04,0.039014,32357184
19,2012-07-16,0.40,0.402413,63.52,62.95,0.20,0.199831,27620876
20,2012-07-17,-0.13,-0.130688,63.74,62.63,0.19,0.193486,42467704
21,2012-07-18,2.14,2.141239,64.58,63.39,0.29,0.292010,44460240
22,2012-07-19,1.15,1.146764,65.31,64.72,0.50,0.498055,52992592
23,2012-07-20,-0.79,-0.789911,65.10,64.21,0.19,0.186941,40561552
24,2012-07-23,-3.75,-3.752758,63.68,62.51,-0.13,-0.129066,48636228
25,2012-07-24,0.02,0.019395,63.66,62.55,-0.25,-0.253057,57230032
26,2012-07-25,-0.96,-0.959775,62.95,62.15,-0.36,-0.362473,46260856
27,2012-07-26,1.45,1.450157,63.73,62.97,-0.13,-0.131952,41926492
28,2012-07-27,3.06,3.056594,64.99,63.64,0.11,0.109633,42620976
29,2012-07-30,1.20,1.201825,65.31,64.60,0.23,0.227987,37809176